.home__resources {
  background-color: #ffffff;
  background-image: url('../../assets/textures/connected.png');
  color: var(--text-dark);
}
.home__resources h2 {
  border-bottom: 2px solid var(--color-secondary-1-4);
  color: var(--color-secondary-1-4);
}
.home__resources svg {
  fill: var(--color-secondary-1-4);
}
.home__resources-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.home__resources-buttons > a {
  flex-basis: 0;
  margin: 10px;
  min-width: 150px;
  text-decoration: none;
}
.home__resources-details {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.home__resources-details > p {
  text-align: justify;
}
@media (max-width: 749px) {
  .home__resources-buttons {
    flex-direction: column;
  }
  .home__resources-buttons > a {
    flex-basis: auto;
  }
}
@media print {
  .home__resources {
    background-color: none;
    background-image: none;
  }
  .home__resources-buttons {
    display: none;
  }
  .home__resources-details > p {
    max-width: 100%;
  }
}