.home__resources {
  background-color: #ffffff;
  background-image: url('../../assets/textures/connected.png');
  color: var(--text-dark);
}
.home__resources h2 {
  border-bottom: 2px solid var(--color-secondary-1-4);
  color: var(--color-secondary-1-4);
}
.home__resources svg {
  fill: var(--color-secondary-1-4);
}
.home__resources-buttons {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}
.home__resources-buttons > a {
  text-decoration: none;
}
.home__resources-buttons Button {
  width: 100%;
}
.home__resources-buttons > :not(:last-child) {
  margin-bottom: 20px;
}
.home__resources-details {
  align-items: center;
  display: flex;
  justify-content: center;
}
.home__resources-details > :first-child {
  margin-right: 60px;
}
.home__resources-details > p {
  max-width: 600px;
  text-align: justify;
}
@media (max-width: 749px) {
  .home__resources-details {
    flex-direction: column-reverse;
  }
  .home__resources-details > :first-child {
    margin-right: 0;
    margin-top: 30px;
  }
}