.services {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 20px;
}
.services h1 {
  min-height: 20%;
  text-align: center;
  text-transform: capitalize;
}
.services__buttons {
  display: flex;
  flex-direction: column;
}
.services__buttons > a {
  text-decoration: none;
}
.services__buttons Button {
  width: 100%;
}
.services__buttons > :not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 449px) {
  .services strong {
    font-size: 0.9em;
  }
}