.facilities__hts-about h1,
.facilities__hts-about p {
  border-radius: 4px;
}
.facilities__hts-about h1 {
  background-color: rgba(245, 245, 245, 0.7);
  padding: 10px;
}
.facilities__hts-about p {
  background-color: rgba(245, 245, 245, 0.8);
  font-size: 1.2rem;
  max-width: 600px;
  padding: 20px;
  text-align: justify;
}
.facilities__equipment table {
  width: 100%;
}
.facilities__equipment table ul {
  margin: 0;
}
@media (max-width: 749px) {
  .facilities__hts-kegg {
    flex-direction: column;
  }
}
@media (max-width: 375px) {
  .facilities__hts-kegg img {
    display: none;
  }
}

@media (min-width: 1801px) {
  .facilities__hts-landing {
    background-image: url('./assets/robot-5000x3333.jpg');
  }
}
@media (max-width: 1800px) {
  .facilities__hts-landing {
    background-image: url('./assets/robot-1800x1440.jpg');
  }
}
@media (max-width: 1200px) {
  .facilities__hts-landing {
    background-image: url('./assets/robot-1200x900.jpg');
  }
}
@media (max-width: 900px) {
  .facilities__hts-landing {
    background-image: url('./assets/robot-900x1600.jpg');
  }
}
@media (max-width: 600px) {
  .facilities__hts-landing {
    background-image: url('./assets/robot-600x1000.jpg');
  }
}