.home__landing {
  align-items: center;
  background-image: url('./assets/mountsinai.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 20px;
  position: relative;
}
.home__landing h1,
.home__landing strong {
  border-radius: 4px;
}
.home__landing h1 {
  background-color: rgba(245, 245, 245, 0.85);
  border-radius: 2px;
  padding: 10px;
  margin-right: 20%;
  text-align: center;
  text-transform: capitalize;
}
.home__landing img {
  background-color: rgba(245, 245, 245, 0.85);
  border-radius: 2px;
  bottom: 10px;
  padding: 5px;
  position: absolute;
  right: 10px;
}
.home__landing strong {
  background-color: rgba(245, 245, 245, 0.85);
  border-radius: 2px;
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-top: 40px;
  margin-left: 20%;
  max-width: 700px;
  min-width: 280px;
  padding: 20px;
  text-align: justify;
  width: 70%;
}
@media (max-width: 749px) {
  .home__landing h1 {
    margin-right: 0%;
  }
  .home__landing strong {
    margin-left: 0%;
  }
}
@media (max-width: 449px) {
  .home__landing strong {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
}
