.home__landing {
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 20px;
  position: relative;
}
.home__landing h1,
.home__landing p {
  border-radius: 4px;
}
.home__landing h1 {
  background-color: rgba(245, 245, 245, 0.85);
  border-radius: 2px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  padding: 10px;
  margin-right: 20%;
  text-align: center;
  text-transform: capitalize;
}
.home__landing img {
  background-color: rgba(245, 245, 245, 0.85);
  border-radius: 2px;
  bottom: 10px;
  padding: 5px;
  position: absolute;
  right: 10px;
}
.home__landing p {
  background-color: rgba(245, 245, 245, 0.85);
  border-radius: 2px;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.4rem;
  margin-top: 40px;
  margin-left: 20%;
  max-width: 700px;
  min-width: 280px;
  padding: 10px;
  text-align: justify;
  width: 70%;
}
@media (max-width: 749px) {
  .home__landing h1 {
    margin-right: 0%;
  }
  .home__landing p {
    margin-left: 0%;
  }
}
@media (max-width: 449px) {
  .home__landing p {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
}

@media (min-width: 1801px) {
  .home__landing {
    background-image: url('./assets/mountsinai-5000x3333.jpg');
  }
}
@media (max-width: 1800px) {
  .home__landing {
    background-image: url('./assets/mountsinai-1800x1440.jpg');
  }
}
@media (max-width: 1200px) {
  .home__landing {
    background-image: url('./assets/mountsinai-1200x900.jpg');
  }
}
@media (max-width: 900px) {
  .home__landing {
    background-image: url('./assets/mountsinai-900x1600.jpg');
  }
}
@media (max-width: 600px) {
  .home__landing {
    background-image: url('./assets/mountsinai-600x1000.jpg');
  }
}
