.facilities {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 50px 20px;
}
.facilities > :first-child {
  margin-right: 40px;
  max-width: 50%;
}
.facilities h1 {
  text-transform: uppercase;
}
.facilities p {
  text-align: justify;
}
.facilities__about {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}
.facilities__about > * {
  margin: 20px;
}
.facilities__about > h1 {
  text-transform: uppercase;
}
.facilities__about > p {
  font-size: 1.2rem;
  max-width: 600px;
  text-align: justify;
}
.facilities__buttons {
  display: flex;
  flex-direction: column;
}
.facilities__buttons > a {
  text-decoration: none;
}
.facilities__buttons Button {
  width: 100%;
}
.facilities__buttons > :not(:last-child) {
  margin-bottom: 20px;
}
.facilities__equipment {
  background-color: #ffffff;
  background-image: url('../assets/textures/connected.png');
}
.facilities__equipment h2 {
  border-bottom: 2px solid var(--color-complement-3);
  color: var(--color-complement-3);
}
.facilities__equipment img {
  height: 40px;
}
.facilities__equipment img:not(:first-of-type) {
  margin-top: 30px;
}
.facilities__equipment svg {
  fill: var(--color-complement-3);
}
.facilities__landing {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  min-height: 100vh;
  padding: 50px 20px;
}
.facilities__links {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.facilities__links > a {
  margin: 10px;
  text-decoration: none;
}
.facilities__pricing {
  background: var(--color-primary-2);
  background: linear-gradient(to right, var(--color-primary-1-5), var(--color-primary-2));
  color: var(--text-dark);
}
.facilities__pricing h2 {
  border-bottom: 2px solid var(--color-secondary-1-4);
  color: var(--color-secondary-1-4);
}
.facilities__pricing svg {
  fill: var(--color-secondary-1-4);
}
.facilities__protocols {
  background-color: #ffffff;
  background-image: url('../assets/textures/light-wool.png');
}
.facilities__protocols h2 {
  border-bottom: 2px solid var(--color-secondary-1-4);
  color: var(--color-secondary-1-4);
}
.facilities__protocols svg {
  fill: var(--color-secondary-1-4);
}
.facilities__section {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 60px 20px;
}
.facilities__section h2 {
  align-items: center;
  align-self: flex-start;
  display: flex;
  margin-left: 5%;
  margin-bottom: 50px;
  padding-bottom: 5px;
  text-transform: uppercase;
  vertical-align: middle;
  width: 50%;
}
.facilities__section h2 svg {
  height: 25px;
  margin-right: 10px;
}
.facilities__section p {
  text-align: justify;
}
.facilities__section-inner {
  max-width: 950px;
  width: 100%;
}
.facilities__services {
  background: var(--color-secondary-1-3);
  background: linear-gradient(to right, var(--color-secondary-1-3), var(--color-secondary-1-2));
  color: var(--text-light);
}
.facilities__services h2 {
  border-bottom: 2px solid var(--color-primary-1-5);
  color: var(--color-primary-1-5);
}
.facilities__services svg {
  fill: var(--color-primary-1-5);
}
.facilities__tools {
  background: var(--color-secondary-1-2);
  background: linear-gradient(to right, var(--color-secondary-1-2), var(--color-secondary-1-1));
  color: var(--text-light);
}
.facilities__tools h2 {
  border-bottom: 2px solid var(--text-dark);
  color: var(--text-dark);
}
.facilities__tools svg {
  fill: var(--text-dark);
}
@media (max-width: 749px) {
  .facilities {
    flex-direction: column;
    height: auto;
    min-height: 100vh;
  }
  .facilities > :first-child {
    margin-bottom: 20px;
    margin-right: 0;
    max-width: 95%;
  }
}
@media (max-width: 449px) {
  .facilities strong {
    font-size: 0.9em;
  }
  .facilities__about > p {
    font-size: 1rem;
  }
}