.facilities {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 50px 40px;
}
.facilities > :first-child {
  margin-right: 40px;
  max-width: 50%;
}
.facilities h1 {
  text-transform: uppercase;
}
.facilities p {
  text-align: justify;
}
.facilities__about {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}
.facilities__about > * {
  margin: 20px;
}
.facilities__about > h1 {
  text-transform: uppercase;
}
.facilities__about > p {
  font-size: 1.2rem;
  max-width: 600px;
  text-align: justify;
}
.facilities__buttons {
  display: flex;
  flex-direction: column;
}
.facilities__buttons > a {
  text-decoration: none;
}
.facilities__buttons Button {
  width: 100%;
}
.facilities__buttons > :not(:last-child) {
  margin-bottom: 20px;
}
.facilities__equipment {
  background-color: #ffffff;
  background-image: url('../assets/textures/connected.png');
}
.facilities__equipment h2 {
  border-bottom: 2px solid var(--color-complement-3);
  color: var(--color-complement-3);
}
.facilities__equipment img {
  height: 40px;
}
.facilities__equipment img:not(:first-of-type) {
  margin-top: 30px;
}
.facilities__equipment svg {
  fill: var(--color-complement-3);
}
.facilities__landing {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  min-height: 100vh;
  padding: 50px 40px;
}
.facilities__links {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.facilities__links > a {
  margin: 10px;
  text-decoration: none;
}
.facilities__pricing {
  background: var(--color-primary-2);
  background: linear-gradient(to right, var(--color-primary-1-5), var(--color-primary-2));
  color: var(--text-dark);
}
.facilities__pricing h2 {
  border-bottom: 2px solid var(--color-secondary-1-4);
  color: var(--color-secondary-1-4);
}
.facilities__pricing h3 span {
  border-bottom: 2px dotted var(--text-dark);
  box-shadow: none, inset 0 1px 0 0 var(--text-dark), none, none;
}
.facilities__pricing svg {
  fill: var(--color-secondary-1-4);
}
.facilities__pricing table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
}
.facilities__pricing thead {
  background-color: var(--color-secondary-1-2-5);
  color: var(--text-light);
}
.facilities__pricing thead td {
  text-align: center;
}
.facilities__pricing td {
  padding: 4px 15px;
}
.facilities__pricing tbody tr:nth-child(2n+1) {
  background-color: #EEEEEE;
}
.facilities__pricing tbody tr:nth-child(2n+2) {
  background-color: #E0E0E0;
}
.facilities__protocols {
  background-color: #ffffff;
  background-image: url('../assets/textures/light-wool.png');
}
.facilities__protocols h2 {
  border-bottom: 2px solid var(--color-secondary-1-4);
  color: var(--color-secondary-1-4);
}
.facilities__protocols svg {
  fill: var(--color-secondary-1-4);
}
.facilities__protocols a {
  text-decoration: none;
  transition: color 0.3s ease;
}
.facilities__protocols a svg {
  transition: fill 0.3s ease;
}
.facilities__protocols a:link,
.facilities__protocols a:visited {
  color: var(--text-dark);
}
.facilities__protocols a:link svg,
.facilities__protocols a:visited svg {
  fill: var(--text-dark);
}
.facilities__protocols a:focus,
.facilities__protocols a:hover,
.facilities__protocols a:active {
  color: var(--color-primary-3);
}
.facilities__protocols a:focus svg,
.facilities__protocols a:hover svg,
.facilities__protocols a:active svg {
  fill: var(--color-primary-3);
}
.facilities__protocols li {
  margin: 5px 0;
}
.facilities__protocols svg {
  height: 16px;
  margin-right: 5px;
}
.facilities__protocols ul {
  list-style: none;
  padding-left: 0;
}
.facilities__section {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 60px 40px;
}
.facilities__section h2 {
  align-items: center;
  align-self: flex-start;
  display: flex;
  margin-left: 5%;
  margin-bottom: 50px;
  padding-bottom: 5px;
  text-transform: uppercase;
  vertical-align: middle;
  width: 50%;
}
.facilities__section h2 svg {
  height: 25px;
  margin-right: 10px;
}
.facilities__section p {
  text-align: justify;
}
.facilities__section-inner {
  max-width: 950px;
  width: 100%;
}
.facilities__services {
  background: var(--color-secondary-1-3);
  background: linear-gradient(to right, var(--color-secondary-1-3), var(--color-secondary-1-2));
  color: var(--text-light);
}
.facilities__services h2 {
  border-bottom: 2px solid var(--color-primary-1-5);
  color: var(--color-primary-1-5);
}
.facilities__services h3 span {
  border-bottom: 2px dotted var(--text-light);
  box-shadow: none, inset 0 1px 0 0 var(--text-light), none, none;
}
.facilities__services svg {
  fill: var(--color-primary-1-5);
}
.facilities__tools {
  background: var(--color-secondary-1-1);
  background: linear-gradient(to right, var(--color-secondary-1-1), var(--color-secondary-1-0-5));
  color: var(--text-dark);
}
.facilities__tools h2 {
  border-bottom: 2px solid var(--text-dark);
  color: var(--text-dark);
}
.facilities__tools h3 span {
  border-bottom: 2px dotted var(--text-dark);
  box-shadow: none, inset 0 1px 0 0 var(--text-dark), none, none;
}
.facilities__tools svg {
  fill: var(--text-dark);
}
.facilities__tools ul {
  list-style: none;
}
.facilities__tools a {
  text-decoration: none;
  transition: color 0.3s ease;
}
.facilities__tools a svg {
  transition: fill 0.3s ease;
}
.facilities__tools a:link,
.facilities__tools a:visited {
  color: var(--color-secondary-1-4);
}
.facilities__tools a:link svg,
.facilities__tools a:visited svg {
  fill: var(--color-secondary-1-4);
}
.facilities__tools a:focus,
.facilities__tools a:hover,
.facilities__tools a:active {
  color: var(--color-secondary-2-2);
}
.facilities__tools a:focus svg,
.facilities__tools a:hover svg,
.facilities__tools a:active svg {
  fill: var(--color-secondary-2-2);
}
.facilities__tools svg {
  height: 16px;
  margin-right: 5px;
}
@media (max-width: 749px) {
  .facilities {
    flex-direction: column;
    height: auto;
    min-height: 100vh;
  }
  .facilities > :first-child {
    margin-bottom: 20px;
    margin-right: 0;
    max-width: 95%;
  }
  .facilities__section h2 {
    width: 75%;
  }
}
@media (max-width: 449px) {
  .facilities strong {
    font-size: 0.9em;
  }
  .facilities__about > p {
    font-size: 1rem;
  }
  .facilities__section h2 {
    width: 90%;
  }
}