.facilities {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 50px 20px;
}
.facilities > :first-child {
  margin-right: 40px;
  max-width: 50%;
}
.facilities h1 {
  text-transform: uppercase;
}
.facilities p {
  text-align: justify;
}
.facilities__buttons {
  display: flex;
  flex-direction: column;
}
.facilities__buttons > a {
  text-decoration: none;
}
.facilities__buttons Button {
  width: 100%;
}
.facilities__buttons > :not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 749px) {
  .facilities {
    flex-direction: column;
    height: auto;
    min-height: 100vh;
  }
  .facilities > :first-child {
    margin-bottom: 20px;
    margin-right: 0;
    max-width: 95%;
  }
}
@media (max-width: 449px) {
  .facilities strong {
    font-size: 0.9em;
  }
}