.facilities__hri-gallery-focus {
  margin-top: 30px;
  text-align: center;
}
.facilities__hri-gallery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 20px;
  padding: 5px;
}
.facilities__hri-gallery-list button {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.facilities__hri-gallery-list > img {
  margin: 5px;
}
.facilities__hri-landing {
  background-image: url('./assets/cells.jpg');
}
.facilities__hri-movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.facilities__hri-movies > video {
  margin: 10px;
}
.facilities__hri-pricing table td {
  text-align: center;
}
.facilities__hri-pricing-table_bottom-border {
  border-bottom: 1px solid var(--text-dark);
}
@media (max-width: 400px) {
  .facilities__hri-gallery-focus > img {
    height: 260px;
    width: 260px;
  }
} 