.facilities__hri-movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.facilities__hri-movies > video {
  margin: 10px;
}
.facilities__hri-pricing table td {
  text-align: center;
}
.facilities__hri-pricing-table_bottom-border {
  border-bottom: 1px solid var(--text-dark);
}