.home__management {
  background: #fff1eb;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
.home__management h2 {
  border-bottom: 2px solid var(--color-complement-3);
  color: var(--color-complement-3);
}
.home__management svg {
  fill: var(--color-complement-3);
}
.home__management-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.home__management-buttons > * {
  margin: 5px 10px;
}
.home__management-details {
  align-items: center;
  display: flex;
  justify-content: center;
}
.home__management-details > div {
  margin: 20px;
}
.home__management-details > :first-child {
  background-color: var(--text-light);
  border: 5px solid var(--color-complement-2);
  border-radius: 2px;
  height: 335px;
  margin: 0 30px;
  min-width: 250px;
}
.home__management-details > :last-child {
  text-align: justify;
}
.home__management-details a {
  text-decoration: none;
  transition: color 0.3s ease;
}
.home__management-details a svg {
  transition: fill 0.3s ease;
}
.home__management-details a:link,
.home__management-details a:visited {
  color: var(--color-complement-4);
}
.home__management-details a:link svg,
.home__management-details a:visited svg {
  fill: var(--color-complement-4);
}
.home__management-details a:focus,
.home__management-details a:hover,
.home__management-details a:active {
  color: var(--color-secondary-1-2);
}
.home__management-details a:focus svg,
.home__management-details a:hover svg,
.home__management-details a:active svg {
  fill: var(--color-secondary-1-2);
}
.home__management-details svg {
  height: 16px;
  margin-right: 5px;
}
@media (max-width: 749px) {
  .home__management-details {
    flex-direction: column;
  }
}