.home__management {
  background-color: #ffffff;
  background-image: url('../../assets/textures/connected.png');
}
.home__management h2 {
  border-bottom: 2px solid var(--color-complement-3);
  color: var(--color-complement-3);
}
.home__management svg {
  fill: var(--color-complement-3);
}
.home__management-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.home__management-buttons > * {
  margin: 5px 10px;
}
.home__management-details {
  align-items: center;
  display: flex;
  justify-content: center;
}
.home__management-details > :first-child {
  background-color: var(--color-complement-1);
  border: 5px solid var(--color-complement-2);
  height: 400px;
  margin-right: 60px;
  max-width: 400px;
  min-width: 240px;
  width: 20%;
}
.home__management-details > :last-child {
  text-align: justify;
}
@media (max-width: 749px) {
  .home__management-details {
    flex-direction: column;
  }
  .home__management-details > :first-child {
    margin-bottom: 30px;
    margin-right: 0px;
  }
}