.publications {
  align-items: center;
  background-color: white;
  color: var(--text-dark); 
  display: flex;
  flex-direction: column;
  padding: 60px 40px 50px 40px;
}
.publications h2 {
  align-items: center;
  display: flex;
}
.publications h2 span {
  border-bottom: 2px dotted var(--text-dark);
  color: var(--text-dark);
}
.publications h2 svg {
  height: 20px;
  margin-right: 5px;
  fill: var(--text-dark);
}
.publications p {
  text-align: justify;
}
.publications section:not(:first-of-type) {
  margin-top: 80px;
}
.publications a {
  text-decoration: none;
  transition: color 0.3s ease;
}
.publications a svg {
  height: 16px;
  margin-right: 5px;
  transition: fill 0.3s ease;
}
.publications a:link,
.publications a:visited {
  color: var(--text-dark);
}
.publications a:link svg,
.publications a:visited svg {
  fill: var(--text-dark);
}
.publications a:focus,
.publications a:hover,
.publications a:active {
  color: var(--color-primary-2);
}
.publications a:focus svg,
.publications a:hover svg,
.publications a:active svg {
  fill: var(--color-primary-2);
}
.publication__grid {
  display: flex;
  justify-content: center;
}
.publication__grid > div {
  margin: 20px 40px;
}
.publication__grid > :last-child {
  text-align: center;
}
.publication__grid img {
  display: block;
  margin-bottom: 10px;
}
.publication__grid ul {
  list-style: none;
  padding-left: 0;
}
.publications__inner {
  max-width: 950px;
}
.publication__links {
  list-style: none;
  padding: 0;
}
.publication__links li {
  margin: 10px 0;
}
.publications__pie {
  margin-top: 40px;
}
.publication__table {
  width: 226px;
}
.publication__table svg {
  float: left;
}
.publication__table td {
  text-align: center;
}
.publication__table thead {
  background-color: var(--color-secondary-1-2-5);
  color: var(--text-light);
}
.publication__table th {
  padding: 4px 6px;
}
.publication__table td {
  padding: 4px 15px;
}
.publication__table tr:last-of-type,
.publication__table tr:nth-last-of-type(2) {
  font-weight: bold;
}
.publication__table tbody tr:nth-child(2n+1) {
  background-color: #EEEEEE;
}
.publication__table tbody tr:nth-child(2n+2) {
  background-color: #E0E0E0;
}
@media (max-width: 749px) {
  .publications h2 {
    border: none;
    justify-content: center;
  }
  .publication__grid {
    align-items: center;
    flex-direction: column;
  }
  .publication__grid > div {
    margin: 20px 0;
  }
  .publication__grid > :first-child {
    width: 300px;
  }
  .publication__grid > :first-child > :first-child {
    margin-left: 37px;
  }
  .publications__pie {
    margin-top: 20px;
  }
}
@media (max-width: 379px) {
  .publication__grid {
    width: calc(100vw - 80px);
  }
  .publications__pie {
    height: auto;
    transform: scale(0.8);
  }
  .publication__grid > :first-child {
    width: 100%;
  }
  .publication__grid > :first-child > :first-child {
    margin: 0;
  }
  .publication__table {
    width: 100%;
  }
}
@media print {
  .publications {
    background-color: none;
    color: var(--text-dark); 
    padding: 0;
  }
  .publications a {
    display: none;
  }
  .publication__table th {
    border-bottom: 1px solid black;
  }
}