.facilities__ida-about h1,
.facilities__ida-about div {
  background-color: rgba(245, 245, 245, 0.7);
  border-radius: 4px;
}
.facilities__ida-about h1 {
  padding: 10px;
}
.facilities__ida-about div {
  padding: 0 20px;
}
.facilities__ida-about p {
  font-size: 1.2rem;
  max-width: 600px;
  text-align: justify;
}

@media (min-width: 1801px) {
  .facilities__ida-landing {
    background-image: url('./assets/whiteboard-5000x3333.jpg');
  }
}
@media (max-width: 1800px) {
  .facilities__ida-landing {
    background-image: url('./assets/whiteboard-1800x1440.jpg');
  }
}
@media (max-width: 1200px) {
  .facilities__ida-landing {
    background-image: url('./assets/whiteboard-1200x900.jpg');
  }
}
@media (max-width: 900px) {
  .facilities__ida-landing {
    background-image: url('./assets/whiteboard-900x1600.jpg');
  }
}
@media (max-width: 600px) {
  .facilities__ida-landing {
    background-image: url('./assets/whiteboard-600x1000.jpg');
  }
}
