.home__section {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}
.home__section h2 {
  align-items: center;
  align-self: flex-start;
  display: flex;
  margin-left: 5%;
  margin-bottom: 50px;
  padding-bottom: 5px;
  text-transform: uppercase;
  vertical-align: middle;
  width: 50%;
}
.home__section h2 svg {
  height: 25px;
  margin-right: 10px;
}
.home__section-inner {
  max-width: 950px;
  padding: 60px 0;
  width: 100%;
}
@media (max-width: 749px) {
  .home__section h2 {
    border: none;
    justify-content: center;
    margin-left: 0;
    width: 100%;
  }
}