.facilities__ngs-about h1,
.facilities__ngs-about p {
  border-radius: 4px;
}
.facilities__ngs-about h1 {
  background-color: rgba(245, 245, 245, 0.7);
  padding: 10px;
}
.facilities__ngs-about p {
  background-color: rgba(245, 245, 245, 0.8);
  font-size: 1.2rem;
  max-width: 600px;
  padding: 20px;
  text-align: justify;
}
.facilities__ngs-landing {
  background-image: url('./assets/sequencer.jpg');
}