.navigation {
  display: flex;
  flex-direction: column;
  max-width: 130px;
  position: fixed;
  right: calc(((100vw - 950px) / 2) - 150px);
  top: 40px;
}
.navigation svg {
  fill: inherit;
  height: 20px;
}
.navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  position: absolute;
  right: 0;
  top: 50px;
}
.navigation ul li:not(:last-child) {
  margin-bottom: 10px;
}
.navigation__arrow {
  height: 34px;
  width: 34px;
}
@media (max-width: 1299px) {
  .navigation {
    right: 30px;
  }
  .navigation ul {
    display: none;
  }
}
@media (max-width: 749px) {
  .navigation {
    top: 15px;
  }
}
