.home__facilities {
  background-color: #ffffff;
  background-image: url('../../assets/textures/connected.png');
  color: var(--text-dark);
}
.home__facilities h2 {
  border-bottom: 2px solid var(--color-primary-3);
  color: var(--color-primary-3);
}
.home__facilities svg {
  fill: var(--color-primary-3);
}
.home__facilities-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.home__facilities-buttons > a {
  margin: 10px;
  min-width: 200px;
  text-decoration: none;
}
.home__facilities-details {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.home__facilities-details > p {
  text-align: justify;
}
@media (max-width: 749px) {
  .home__facilities-buttons {
    flex-direction: column;
  }
}
@media print {
  .home__facilities {
    background-color: none;
    background-image: none;
  }
  .home__facilities-buttons {
    display: none;
  }
  .home__facilities-details > p {
    max-width: 100%;
  }
}