.home__facilities {
  color: var(--text-dark);
}
.home__facilities h2 {
  border-bottom: 2px solid var(--color-primary-3);
  color: var(--color-primary-3);
}
.home__facilities svg {
  fill: var(--color-primary-3);
}
.home__facilities-buttons {
  display: flex;
  flex-direction: column;
}
.home__facilities-buttons > a {
  text-decoration: none;
}
.home__facilities-buttons Button {
  width: 100%;
}
.home__facilities-buttons > :not(:last-child) {
  margin-bottom: 20px;
}
.home__facilities-details {
  align-items: center;
  display: flex;
  justify-content: center;
}
.home__facilities-details > p {
  margin-right: 60px;
}
.home__facilities-details > p {
  max-width: 600px;
  text-align: justify;
}
.home__facilities-inner {
  border-bottom: 1px solid var(--color-primary-3);
}
@media (max-width: 749px) {
  .home__facilities-details {
    flex-direction: column;
  }
  .home__facilities-details > p {
    margin-bottom: 30px;
    margin-right: 0;
  }
}