.navbar__menu {
  cursor: pointer;
  margin-top: 3px;
}
.navbar__menu-bars path {
  transition: fill 0.3s linear;
}
.navbar__menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.navbar__menu-button:focus {
  outline: 0;
}
.navbar_background .navbar__menu-button .navbar__menu-bars path {
  fill: #ffffff;
}
.navbar__menu-button:hover .navbar__menu-bars path {
  fill: #33cc72;
}
.navbar__menu-inner {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  position: absolute;
  right: 3px;
  top: 3px;
  transition: all 0.2s linear;
  transform-origin: top right;
  z-index: 100;
}
.navbar__menu-inner > ul {
  font-size: 1.1em;
  font-weight: bold;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar__menu-inner a {
  text-decoration: none;
}
.navbar__menu-inner li {
  color: #1a405f;
  padding: 5px 10px;
  transition: color 0.3s ease;
}
.navbar__menu-inner li:hover {
  color: #33cc72;
}
.navbar__menu_hide {
  opacity: 0;
  transform: scale(0);
}
.navbar__menu_show {
  opacity: 1;
  transform: scale(1);
}
