.navbar {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  display: flex;
  height: 50px;
  left: 0;
  padding: 0px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.navbar_absolute {
  position: absolute;
}
.navbar__link {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.navbar__link:link,
.navbar__link:visited {
  color: var(--color-secondary-1-4);
}
.navbar__link:focus {
  outline: none;
}
.navbar__link:focus,
.navbar__link:hover,
.navbar__link:active {
  color: var(--color-primary-2);
}
.navbar__link-contact svg {
  fill: var(--color-secondary-1-4);
  height: 15px;
  position: relative;
  top: 1px;
}
.navbar__links {
  position: absolute;
  right: 20px;
}
.navbar__links > :not(:last-child) {
  margin-right: 20px;
}
.navbar__logo {
  display: block;
}
@media print {
  .navbar {
    display: none;
  }
}
