.home__personnel h2 {
  color: var(--color-complement-3);
}
.home__personnel svg {
  fill: var(--color-complement-3);
}
.home__personnel-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.home__personnel-buttons > * {
  margin: 5px 10px;
}
.home__personnel-details {
  align-items: center;
  display: flex;
  justify-content: center;
}
.home__personnel-details > div {
  margin: 0 20px;
}
.home__personnel-details > :first-child {
  background-color: lightgrey;
  height: 400px;
  max-width: 400px;
  min-width: 240px;
  width: 20%;
}
.home__personnel-details > :last-child {
  text-align: justify;
}
@media (max-width: 749px) {
  .home__personnel-details {
    flex-direction: column;
  }
  .home__personnel-details > :first-child {
    margin-bottom: 30px;
  }
}