.facilities_hcs_full-header  {
  background-color: var(--color-primary-3);
  color: var(--text-light);
  margin: 10px 0;
  padding: 5px 0;
  text-align: center;
}
.facilities__hcs-assay-note {
  display: flex;
  justify-content: center;
}
.facilities__hcs-assay-note ul {
  margin-top: 0;
}
.facilities__hcs-assay-note ul li {
  padding: 2px 0;
}
.facilities__hcs-rates {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.facilities__hcs-rates div {
  align-items: rates;
  display: flex;
  flex-direction: column;
  margin: 15px 30px;
  min-width: 300px
}
.facilities__protocols table {
  text-align: center;
  width: 100%;
}
.facilities__protocols .facilities__protocols-table-first-col {
  box-sizing: border-box;
  padding: 5px;
  width: 30px;
}
.facilities__hcs-rates div strong {
  margin-bottom: 10px;
  text-align: center;
}
.facilities__hcs-rates tbody td:nth-child(2n+1),
.facilities__hcs-rates tbody td:nth-child(n+1) {
  text-align: center;
}
.facilities__hcs-rates tbody tr:last-child {
  font-weight: bold;
}
.facilities__hcs-rates ul {
  margin-top: 0;
  padding-left: 0;
}
.facilities__hcs-rates ul li {
  padding: 2px 0;
}
.facilities__hcs-software div {
  align-items: center;
  display: flex;
  justify-content: center;
}
.facilities__hcs-software div > :first-child {
  margin-right: 30px;
}
.facilities__hcs-software div img {
  width: auto;
}
.facilities__hcs-volocity {
  min-width: 151px;
}
.facilities__protocols .facilities__hcs-table_blue {
  background-color: #00f;
  color: var(--text-light);
  padding: 5px;
}
.facilities__protocols .facilities__hcs-table_green {
  background-color: #0f0;
  color: var(--text-dark);
  padding: 5px;
}
.facilities__protocols .facilities__hcs-table_yellow {
  background-color: #ff0;
  color: var(--text-dark);
  padding: 5px;
}
.facilities__protocols .facilities__hcs-table_red {
  background-color: #f00;
  color: var(--text-light);
  padding: 5px;
}
.facilities__protocols .facilities__hcs-table_far-red {
  background-color: #c40000;
  color: var(--text-light);
  padding: 5px;
}
@media (max-width: 449px) {
  .facilities__hcs-rates div {
    width: 100%;
    min-width: auto;
  }
  .facilities__hcs-software div {
    flex-direction: column;
  }
  .facilities__hcs-software div > :first-child {
    margin: 20px 0;
  }
  .facilities__protocols .facilities__protocols-table-first-col {
    min-width: 15px;
  }
}
@media print {
  .facilities__hcs-fluorophore-table {
    font-size: 12px;
  }
}