html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  --color-primary-0: #5ba488;	/* Main Primary color */
  --color-primary-1: #9cc9b8;
  --color-primary-2: #7bb7a0;
  --color-primary-3: #48846d;
  --color-primary-4: #366352;
  --color-secondary-1-0: #3C76AE;	/* Main Secondary color (1) */
  --color-secondary-1-0-5: #aeccea;
  --color-secondary-1-1: #92BBE3;
  --color-secondary-1-2: #5F95C8;
  --color-secondary-1-2-5: #3b75ab;
  --color-secondary-1-3: #1E5F9D;
  --color-secondary-1-4: #104476;
  --color-secondary-2-0: #FFB54A;	/* Main Secondary color (2) */
  --color-secondary-2-1: #FFD79E;
  --color-secondary-2-2: #FFC46F;
  --color-secondary-2-3: #F39C1F;
  --color-secondary-2-4: #B6710C;
  --color-complement-0: #FF854A;	/* Main Complement color */
  --color-complement-1: #FFBD9E;
  --color-complement-2: #FF9E6F;
  --color-complement-3: #F3641F;
  --color-complement-4: #B6430C;
  --light-background: #f2f3f4;
  --text-dark: #373d3f;
  --text-light: #f2f3f4;
  background-color: #fff;
  color: var(--text-dark);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

details {
  display: block;
}

summary {
  display: list-item;
}
