.facilities__proteomics-about {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}
.facilities__proteomics-landing {
  background-image: url('./assets/proteomics_16x9-lightest.png');
}