.footer {
  align-items: center;
  background-color: var(--color-secondary-1-4);
  color: var(--text-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 20px;
}
.footer__copyright {
  text-align: center;
}
.footer__site-map {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.footer__site-map > * {
  margin: 10px 15px;
}
.footer__site-map > ul {
  font-size: 0.85rem;
  list-style: none;
  padding-left: 0px;
}
.footer__site-map > ul > li {
  margin: 4px 0;
}
@media (max-width: 749px) {
  .footer__site-map {
    display: none;
  }
}