name: Build and Deploy
on:
  push:
    branches:
      - master
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1

      - name: Create env file
        run: |
          touch .env.production.local
          echo REACT_APP_PLAUSIBLE=${{ secrets.REACT_APP_PLAUSIBLE }} >> .env.production.local
          cat .env.production.local

      - name: Install and Build
        run: |
          npm install
          npm run build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages
          folder: build
